[Desktop Entry]
Encoding=UTF-8
Name=UniversalCurrency
Comment=UniversalCurrency P2P Cryptocurrency
Comment[fr]=UniversalCurrency, monnaie virtuelle cryptographique pair à pair
Comment[tr]=UniversalCurrency, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/UniversalCurrency-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/UniversalCurrency;
Categories=Office;
